$white: #ffffff;

$green-100: #e6f4ec;
$green-200: #cce9d9;
$green-300: #b3dfc7;
$green-400: #99d4b4;
$green-500: #80caa2;
$green-600: #66bf8f;
$green-700: #4db47d;
$green-800: #33aa6a;
$green-900: #1a9f58;
$green-1000: #007932;

$light-green-50: #ebf0e9;
$light-green-100: #e9f1e7;
$light-green-200: #d3e2ce;
$light-green-300: #bdd4b6;
$light-green-400: #a7c59d;
$light-green-500: #91b784;
$light-green-600: #7ba86c;
$light-green-700: #659954;
$light-green-800: #4f8b3b;
$light-green-900: #397c22;
$light-green-1000: #368f3f;

$black-100: #ebeae9;
$black-200: #d7d5d2;
$black-300: #c3c0bb;
$black-400: #afaba4;
$black-500: #9b968e;
$black-600: #878177;
$black-700: #736c60;
$black-800: #5f5749;
$black-900: #4b4233;
$black-1000: #2e2925;


// Aplicar colores personalizados a las tarjetas
.card-board {
    background-color: $light-green-200;
    border: 1px solid $green-1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header-board {
    background-color: $green-500;
    color: $white;
    border-bottom: 2px solid $green-600;
  }
  
  .card-header-sensor {
    background-color: $green-400;
    color: $white;
    border-bottom: 2px solid $green-500;
  }
  
  .card-body-sensor {
    background-color: $white;
    color: $black-600;
  }
  
  .card-icon {
    font-size: 50px;
  }
  
  .card-title-sensor {
    font-size: 1.1rem;
    font-weight: bold;
    color: $green-800;
  }
  
  .card-min-max-values {
    color: $green-700;
  }
  
  .text-danger {
    color: $green-900 !important;
  }